<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" strict="true" name="youapp-log4j2" packages="me.libme">
    <Properties>
        <Property name="rolllogDir">d:/log</Property>
        <Property name="rolllogRollingFile">libext-log.log</Property>

        <Property name="urlTrackFile">url.log</Property>

    </Properties>
    <Appenders>
        <Appender type="Console" name="appConsole">
            <Layout type="PatternLayout" pattern="%d %p  %c [%t] %m %n"/>
        </Appender>

        <RollingFile name="rollingFile" fileName="${rolllogDir}/${rolllogRollingFile}" append="true"
                     filePattern="${rolllogDir}/default/${date:yyyy-MM-dd}/${rolllogRollingFile}-%d{MM-dd-yyyy}-%i.log.gz"
                     class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
            <PatternLayout pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %class{36} [%t] %L %M - %msg%xEx%n"/>
            <SizeBasedTriggeringPolicy size="1000 MB"/>
            <DefaultRolloverStrategy max="10000"/>
        </RollingFile>

        <RollingFile name="urlTrackLogFile" fileName="${rolllogDir}/${urlTrackFile}" append="true"
                     filePattern="${rolllogDir}/url-track/${date:yyyy-MM-dd}/${urlTrackFile}-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %class{36} [%t] %L %M - %msg%xEx%n"/>
            <SizeBasedTriggeringPolicy size="20 MB"/>
            <DefaultRolloverStrategy max="10000"/>
        </RollingFile>

    </Appenders>

    <Loggers>

        <Logger name="me.libme" level="DEBUG" additivity="false">
            <AppenderRef ref="appConsole"/>
            <AppenderRef ref="rollingFile"/>
        </Logger>

        <Logger name="test.me.libme" level="DEBUG" additivity="false">
            <AppenderRef ref="appConsole"/>
            <AppenderRef ref="rollingFile"/>
        </Logger>


    </Loggers>

</Configuration>